:root
{
    --bg-color: #24DBAE;
    --heading-color: #DB2451;
}

body
{
    display: flex;
    flex-direction: column;
}

header
{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
    color: var(--heading-color);
}

header nav ul
{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

li, a
{
    color: var(--heading-color);
}

.section
{
    margin: 0 10% 0 10%;
}

.section:nth-child(odd)
{
    background-color: whitesmoke;
}

.section:nth-child(even)
{
    background-color: bisque;
}

.section h2
{
    background-color: var(--heading-color);    
    text-align: center;
    color: var(--bg-color);
}

#about div
{
    display: flex;  
    align-items: center;
}

#about div img
{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

#about div p
{
    text-align: justify;
    padding: 2%;
}

#work div
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#work div section
{
    margin: 2%;
    border: 1px solid var(--bg-color);
}

#work div section figure
{
    background-color: var(--bg-color);
}

#work div section figcaption
{
    color: var(--heading-color);
}

.main-project
{
    width: 90%;
}

.project
{
    width: 45%;
}

#contact nav ul
 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 2%;
 }

footer
{
    background-color: var(--bg-color);
    text-align: center;
    padding: 0.5%;
    color: var(--heading-color);
}